[Unit]
Description=Webapp for changing users for RetroPie/EmulationStation

[Service]
ExecStart=/home/pi/.local/bin/stallyns
ExecStop=/bin/true

[Install]
WantedBy=default.target